@import url("https://fonts.googleapis.com/css?family=Caudex:400,700|Open+Sans&display=swap");
* {
  box-sizing: border-box;
  overflow-x: hidden;
  
}
body {
  margin: 0;
  font-family: "Caudex", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

